.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
  margin: 20px;
}

.clipart-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 10px; /* Reduce the bottom margin */
}

.contact-container p {
  margin-top: 0; /* Remove the top margin */
}

.clipart-container img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 15px; /* Round the top-left corner */
  border-top-right-radius: 0; /* Round the top-right corner */
  border-bottom-left-radius: 0; /* Keep the bottom-left corner sharp */
  border-bottom-right-radius: 0; /* Keep the bottom-right corner sharp */
}

.form-container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
  }

  .clipart-container,
  .form-container {
    width: 48%;
  }
}
