.footer {
  background-color: #333; /* Solid dark background */
  color: #fff; /* White text color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  gap: 20px; /* Add gap to control the space between logo and text */
}

.logo {
  width: 150px; /* Increased width */
  height: auto;
}

.social-media {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-media a {
  color: #007bff;
  font-size: 24px;
  text-decoration: none;
}

.social-media a:hover {
  color: #0056b3;
}

.footer p {
  margin: 0;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top:hover {
  background-color: #0056b3;
}
