/* Navbar.css */

.navbar {
  background: transparent; /* Initial background is fully transparent */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* Smaller font size */
  position: fixed; /* Ensure the navbar stays at the top */
  top: 0;
  width: calc(100% - 40px); /* Adjust width to account for margin */
  margin: 10px 20px; /* Add margin around the navbar */
  border-radius: 10px; /* Add smooth border radius */
  z-index: 10;
  transition: background 0.3s ease-in-out, margin 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.navbar.scrolled {
  background: rgba(
    57,
    56,
    54,
    0.5
  ); /* White background with 50% opacity when scrolled */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff; /* Ensure text color is white */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  color: #f0f0f0; /* Change to your desired hover color */
}
